body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.cover {
    background: url("resources/cbg2.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0px) brightness(50%);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000088;
    margin-left: auto;
    margin-right: auto;
}

.serverlogo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url("resources/fire-face-23823103.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#server-status{
    color: rgb(37, 37, 37);
}

.joinit {
    color: rgb(67, 21, 175);
    border-radius: 5px;
    background-color: #ffffff77;
    width: 250px;
    line-height: 80px;
    font-size: 20px;
    border: solid 2px rgb(82 93 235);
    transition-duration: 0.4s;
    margin-bottom: 40px;
    margin-top: 20px;
}
.joinit:hover {
    background-color: rgb(67, 21, 175);
    color: #ffffff;
}
.joinit:active {
    background-color: rgb(49, 15, 129);
}

/* .mainbg {
    background: url("resources/discord-minimalism-render-hd-wallpaper-preview.jpg");
    width: 100vw;
    height: 11100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100vh;
    left: 0;
    filter: blur(0px) brightness(50%);
    z-index: -1;
} */
.side-header{
    font-size: 20px;
    color: #9e9e9e;
}

.server-talent {
    font-size: 18px;
    color: rgb(37, 37, 37);
    padding: 20px;
    width: 75%;
}

.more-plugin{
    color: rgb(37, 37, 37);
    /* margin-top: 15px;
    border: 8px solid rgb(67, 21, 175);
    background-color: #00000077; */
    padding: 20px;
    width: 75%;
    font-size: 18px;
}

.contact {
    text-align: left;
    font-size: x-large;
    margin-top: 35px;
    color: rgb(37, 37, 37);
}

.helpers {
    display: flex;
    justify-content: space-around;
    width: 60%;
    color: rgb(37, 37, 37);
}

.helper img {
    display: block;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.helper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}
#welcome-header{
    font-size: 50px;
}
#welcome{
    font-size: 17px;
}

#no-more{
    font-size: 1px;
}
.faq{
    color: rgb(37, 37, 37);
    margin: 15px;
    font-size: 15px;
    width: 70%;
}
.faq-header-container{
    text-align: center;
}
.queries{
    color: #929292;
}
#faq-header{
    color: rgb(37, 37, 37);
}
.questions{
    color: #9e9e9e;
    font-size: 20px;
}
.answers{
    color: rgb(37, 37, 37);
    font-size: 20px;
}
.animate__fadeInDown{
    --animate-duration: 1s
}
.animate__fadeIn{
    animation-delay: 1s;
}
.animate__bounceInLeft{
    animation: animation .5s forwards;
    animation-duration: 1s;
}
.animate__bounceInRight{
    animation: animation .5s forwards;
    animation-duration: 1s;
    animation-delay: 1s;
}

#iframe-animation{
    animation-delay: 1.7s;
}
#talent-animation{
    animation-delay: 0.5s;
}
#lifestealheart{
    height: 250px;
    width: 250px;
}
#wayencraft{
    color: #ff00f3;
}
#vrencreft{
    color: #0058ff;
}
#axencroft{
    color: #ff8000;
}